# muc 1

In [1]:
x = "Hello World!"

print(len(x))

12

In [2]:
mytuple = ("apple", "banana", "cherry")

print(len(mytuple))

3

In [3]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print(len(thisdict))

3

In [4]:
class Car:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Drive!")

class Boat:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Sail!")

class Plane:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Fly!")

car1 = Car("Ford", "Mustang")       #Create a Car object
boat1 = Boat("Ibiza", "Touring 20") #Create a Boat object
plane1 = Plane("Boeing", "747")     #Create a Plane object

for x in (car1, boat1, plane1):
  x.move()

Drive!
Sail!
Fly!

In [5]:
class Vehicle:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Move!")

class Car(Vehicle):
  pass

class Boat(Vehicle):
  def move(self):
    print("Sail!")

class Plane(Vehicle):
  def move(self):
    print("Fly!")

car1 = Car("Ford", "Mustang")       #Create a Car object
boat1 = Boat("Ibiza", "Touring 20") #Create a Boat object
plane1 = Plane("Boeing", "747")     #Create a Plane object

for x in (car1, boat1, plane1):
  print(x.brand)
  print(x.model)
  x.move()

Ford
Mustang
Move!
Ibiza
Touring 20
Sail!
Boeing
747
Fly!

## muc 2

In [6]:
def myfunc():
  x = 300
  print(x)

myfunc()

300

In [7]:
def myfunc():
  x = 300
  def myinnerfunc():
    print(x)
  myinnerfunc()

myfunc()

300

In [8]:
x = 300

def myfunc():
  print(x)

myfunc()

print(x)

300
300

In [9]:
x = 300

def myfunc():
  x = 200
  print(x)

myfunc()

print(x)

200
300

In [10]:
def myfunc():
  global x
  x = 300

myfunc()

print(x)

300

In [11]:
x = 300

def myfunc():
  global x
  x = 200

myfunc()

print(x)

200

In [12]:
def myfunc1():
  x = "Jane"
  def myfunc2():
    nonlocal x
    x = "hello"
  myfunc2()
  return x

print(myfunc1())

hello

## muc 3

In [14]:
def greeting(name):
  print("Hello, " + name)

In [17]:
person1 = {
  "name": "John",
  "age": 36,
  "country": "Norway"
}