In [1]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [2]:
myVariableName = "John"

In [3]:
MyVariableName = "John"

In [4]:
my_variable_name = "John"

In [5]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [6]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [7]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

In [8]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [9]:
x = "John"
# is the same as
x = 'John'

In [10]:
a = 4
A = "Sally"
#A will not overwrite a

In [11]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [12]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [14]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [15]:
x = "Python is awesome"
print(x)

Python is awesome

In [16]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [17]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [18]:
x = 5
y = 10
print(x + y)

15